[submodule "13-secflow-service/image_build/secflow-frontend"]
	path = 13-secflow-service/image_build/secflow-frontend
	url = git@github.com:GaiaSecHW/Chimera.git
	branch = local
[submodule "13-secflow-service/image_build/secflow-app-system-analyse"]
	path = 13-secflow-service/image_build/secflow-app-system-analyse
	url = git@github.com:ict-bin/system_analyse.git
[submodule "13-secflow-service/image_build/secflow-app-entry-analyse"]
	path = 13-secflow-service/image_build/secflow-app-entry-analyse
	url = git@github.com:GaiaSecHW/secflow-app-entry-analyse.git
[submodule "13-secflow-service/image_build/secflow-app-dataflow-vuln-scan"]
	path = 13-secflow-service/image_build/secflow-app-dataflow-vuln-scan
	url = git@github.com:GaiaSecHW/secflow-app-dataflow-vuln-scan.git
[submodule "13-secflow-service/image_build/chirmera-platform-schedule"]
	path = 13-secflow-service/image_build/chirmera-platform-schedule
	url = git@github.com:GaiaSecHW/chirmera-platform-schedule.git
	branch = main
[submodule "13-secflow-service/image_build/secflow-app-code-server"]
	path = 13-secflow-service/image_build/secflow-app-code-server
	url = git@github.com:GaiaSecHW/secflow-app-code-server.git
	branch = main
[submodule "13-secflow-service/image_build/secflow-platform-agent"]
	path = 13-secflow-service/image_build/secflow-platform-agent
	url = git@github.com:GaiaSecHW/secflow-platform-agent.git
	branch = main
[submodule "13-secflow-service/image_build/secflow-platform-auth"]
	path = 13-secflow-service/image_build/secflow-platform-auth
	url = git@github.com:GaiaSecHW/secflow-platform-auth.git
	branch = main
[submodule "13-secflow-service/image_build/secflow-platform-configcenter"]
	path = 13-secflow-service/image_build/secflow-platform-configcenter
	url = git@github.com:GaiaSecHW/secflow-platform-configcenter.git
	branch = main
[submodule "13-secflow-service/image_build/secflow-platform-deploy-script"]
	path = 13-secflow-service/image_build/secflow-platform-deploy-script
	url = git@github.com:GaiaSecHW/secflow-platform-deploy-script.git
	branch = main
[submodule "13-secflow-service/image_build/secflow-platform-fileserver"]
	path = 13-secflow-service/image_build/secflow-platform-fileserver
	url = git@github.com:GaiaSecHW/secflow-platform-fileserver.git
	branch = main
[submodule "13-secflow-service/image_build/secflow-platform-k8s"]
	path = 13-secflow-service/image_build/secflow-platform-k8s
	url = git@github.com:GaiaSecHW/secflow-platform-k8s.git
	branch = main
[submodule "13-secflow-service/image_build/secflow-platform-menu"]
	path = 13-secflow-service/image_build/secflow-platform-menu
	url = git@github.com:GaiaSecHW/secflow-platform-menu.git
	branch = main
[submodule "13-secflow-service/image_build/secflow-platform-project"]
	path = 13-secflow-service/image_build/secflow-platform-project
	url = git@github.com:GaiaSecHW/secflow-platform-project.git
	branch = main
[submodule "13-secflow-service/image_build/secflow-platform-resource"]
	path = 13-secflow-service/image_build/secflow-platform-resource
	url = git@github.com:GaiaSecHW/secflow-platform-resource.git
	branch = main
[submodule "13-secflow-service/image_build/secflow-platform-resource-file-gateway-worker"]
	path = 13-secflow-service/image_build/secflow-platform-resource-file-gateway-worker
	url = git@github.com:GaiaSecHW/secflow-platform-resource-file-gateway-worker.git
	branch = main
[submodule "13-secflow-service/image_build/secflow-platform-static-binary"]
	path = 13-secflow-service/image_build/secflow-platform-static-binary
	url = git@github.com:GaiaSecHW/secflow-platform-static-binary.git
	branch = main
[submodule "13-secflow-service/image_build/secflow-platform-vuln"]
	path = 13-secflow-service/image_build/secflow-platform-vuln
	url = git@github.com:GaiaSecHW/secflow-platform-vuln.git
	branch = main
[submodule "13-secflow-service/image_build/secflow-platform-workflow"]
	path = 13-secflow-service/image_build/secflow-platform-workflow
	url = git@github.com:GaiaSecHW/secflow-platform-workflow.git
	branch = main
[submodule "13-secflow-service/image_build/secflow-platform-workflow-status"]
	path = 13-secflow-service/image_build/secflow-platform-workflow-status
	url = git@github.com:GaiaSecHW/secflow-platform-workflow-status.git
	branch = main
[submodule "101-Chimera-deploy"]
	path = 101-Chimera-deploy
	url = git@github.com:GaiaSecHW/Chimera-deploy.git
	branch = main
[submodule "13-secflow-service/image_build/secflow-app-vuln-verify-v2"]
	path = 13-secflow-service/image_build/secflow-app-vuln-verify-v2
	url = git@github.com:GaiaSecHW/secflow-app-vuln-verify-v2.git
	branch = main
[submodule "13-secflow-service/image_build/secflow-app-dataflow-analyse"]
	path = 13-secflow-service/image_build/secflow-app-dataflow-analyse
	url = git@github.com:ict-bin/data_flow_analyse
[submodule "13-secflow-service/image_build/secflow-app-binary-security"]
	path = 13-secflow-service/image_build/secflow-app-binary-security
	url = git@github.com:GaiaSecHW/secflow-app-binary-security.git
	branch = main
[submodule "13-secflow-service/image_build/secflow-app-firmware-unpacker"]
	path = 13-secflow-service/image_build/secflow-app-firmware-unpacker
	url = git@github.com:GaiaSecHW/secflow-app-firmware-unpacker.git
	branch = main
[submodule "13-secflow-service/image_build/secflow-app-binary-to-source"]
	path = 13-secflow-service/image_build/secflow-app-binary-to-source
	url = git@github.com:GaiaSecHW/secflow-app-binary-to-source.git
	branch = main
[submodule "13-secflow-service/image_build/secflow-app-binary-info-collector"]
	path = 13-secflow-service/image_build/secflow-app-binary-info-collector
	url = git@github.com:GaiaSecHW/secflow-app-binary-info-collector.git
	branch = main
[submodule "13-secflow-service/image_build/secflow-app-poc-gen-verify"]
	path = 13-secflow-service/image_build/secflow-app-poc-gen-verify
	url = git@github.com:GaiaSecHW/secflow-app-poc-gen-verify.git
	branch = main
