fastapi>=0.100.0
uvicorn>=0.23.0
sqlalchemy>=2.0.0
pymysql
passlib>=1.7.4
python-jose[cryptography]>=3.3.0
python-multipart>=0.0.6
kubernetes>=27.0.0
pydantic>=2.0.0
PyJWT
cryptography
python-magic
bcrypt==4.0.1
httpx>=0.24.0
pyyaml>=6.0
